* {
    margin: auto;
    text-align: center;
    background-color: aqua;
}

h1 {
    padding-bottom: 50px;
}

@keyframes rainbow {
    0% { background: red; }
    14% { background: orange; }
    28% { background: yellow; }
    42% { background: green; }
    57% { background: cyan; }
    71% { background:  lightpink; }
    85% { background: violet; }
    100% { background: red; }
}

.rainbow {
    animation: rainbow 10s infinite linear;
    color: black;
}

img {
    height: 800px;
    width: 800px;
    padding-top: 20px;
}
